<app-nav></app-nav>

<div class="pm">
    <h2> </h2>
</div>

<div class="grid">
    <div class="search_box">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



        <div id='container'>
            <div class='cell'>
                <input type='search' placeholder='Search packages' [(ngModel)]="searchText">
            </div>
            <div class='cell'>

            </div>
        </div>
        <h2> </h2>
      <table>


        <tr *ngFor="let package of packages | filter:searchText"   (click)="onSelect(package)" (dblclick)="addToCart(package)">
            <td>{{package.name}}</td>
        </tr>
      </table>
      <label class="custom-file-upload">
          <input type="file">
          <i class="fa fa-upload" aria-hidden="true"></i>

          Upload Packages
      </label>
    </div>
    <div class="package_info">

        <div class="package_grid">
            <div class="logo" style="background:#6292c1">
                <h3 style="text-align:center; color:white">

              <div class="frame">
                <i class="fa fa-info-circle" style="font-size:48px" ></i>
              </div>
                <font size="5" *ngIf="selectedPackage">
                    {{selectedPackage.name}}

                  </font>
            </h3>
            </div>

            <div class="readme" style="background:#757575;border:3px solid black">

                <h6 style="text-align:center;color:white;text-decoration:underline">
                      Command zum Installieren:
                </h6>
                <font size="2" style="text-align:center;color:white" *ngIf="selectedPackage">
                    <h3>{{selectedPackage.readme}} </h3>

                  </font>
            </div>

            <div class="version" style="background:#757575;border:3px solid black">

                <h6 style="text-align:center;color:white;text-decoration:underline">
                  Version:
                </h6>
                <font size="2" style="text-align:center;color:white" *ngIf="selectedPackage">
      <h3>{{selectedPackage.version}} </h3>

    </font>
            </div>
        </div>

    </div>

    <div class="cart">
        <h3 style="text-align:center" >
Cart
<i class="fa fa-shopping-cart" style="font-size:48px;color:white" ></i>
</h3>
      <table>


        <tr *ngFor="let package of cartList" (dblclick)="removeFromCart(package)">
            <td>{{package.name}} v{{package.version}}</td>
        </tr>
      </table>
        <button class="btn"><i class="fa fa-download"></i> Download</button>

    </div>

</div>

<div class="pm">
    <h2> </h2>

</div>
