<app-nav></app-nav>

<div class="pm">
    <h2> </h2>
</div>

<div class="grid">
    <div class="search_box">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <div id='container'>
            <div class='cell'>
                <input type='search' placeholder='Search packages' [(ngModel)]="searchText">
            </div>
            <div class='cell'>

            </div>
        </div>
        <h2> </h2>
      <table>


        <tr *ngFor="let package of packages | filter:searchText"  (click)="onSelect(package)" (dblclick)="addToCart(package)">
            <td>{{package.name}}</td>
        </tr>
      </table>
    </div>
    <div class="package_info">

        <div class="package_grid">
            <div class="logo">
                <h3 style="text-align:center">

              <div class="frame">
                <i class="fa fa-shopping-bag" style="font-size:48px;color:red" ></i></div>
                <font size="5" *ngIf="selectedPackage">
                    {{selectedPackage.name}}

                  </font>
            </h3>
            </div>

            <div class="readme">

                <h6 style="text-align:left">
                      Command zum Installieren:
                </h6>
                <font size="2" *ngIf="selectedPackage">
                    <h3>{{selectedPackage.readme}} </h3>

                  </font>
            </div>

            <div class="version">

                <h6 style="text-align:left">
  Version:
  </h6>
                <font size="2" *ngIf="selectedPackage">
      <h3>{{selectedPackage.version}} </h3>

    </font>
            </div>
        </div>

    </div>

    <div class="cart">
        <h3 style="text-align:center">
Cart
<i class="fa fa-shopping-cart" style="font-size:48px;color:green" ></i>
</h3>
      <table>


        <tr *ngFor="let package of cartList" (dblclick)="removeFromCart(package)">
            <td>{{package.name}} v{{package.version}}</td>
        </tr>
      </table>
        <button class="btn"><i class="fa fa-download"></i> Download</button>

    </div>

</div>

<div class="pm">
    <h2> </h2>

</div>
