<body>
  <app-nav>
  </app-nav>
    <div id="h2">
      <h2>Local Projects</h2>
    </div>
    <form id="upload">
      <div>

        <label>
          Nach Projekten suchen!<br><br>
            <input id="localp" name="datei" type="file" size="50"  accept="text/*">
        </label>
       </div>
    </form>
      <div id="Test">
        <div id="anzeige">
          Packages from the chosen Project:<br><br><br><br><br>
        </div>
        <div id="anzeige2">
          Package Name:<br>
          Type:<br>
          Version:<br>
          Dependencies:<br>
        </div>
      </div>
    <form id="download" >
      <div>
        <button type="button" name="button">Download</button>
      </div>
    </form>








</body>
