<!DOCTYPE html>
<html lang="en" dir="ltr">
  <meta charset="utf-8">
  <img id="unity3d_logo" src="assets/unity-master-black.png" alt="unity3d_logo" width="200">
  <img id="tud_logo"src="assets/TU_Dresden_Logo_blau_HKS41.svg" alt="tud-logo" width="250">
  <img id="plt_logo"src="assets/plt_logo_mit_text_no_background.png" alt="plt_logo" width="400">
  <nav class="navbar" height="100">
    <a routerLink= "/packagemanager">Package Manager</a>
    <a routerLink= "/projectmanager">Project Manager</a>
    <a routerLink= "/contact">Contact</a>
  </nav>
</html>
