section {
  width: 100%;
  background-color: #00305d;
  font-family: "Open Sans";
  font-weight: 400;
  box-sizing: border-box;

}
#plt_logo,#unity3d_logo,#tud_logo {
  background-color: #00305d;
  box-sizing: border-box;
  margin-top: 15px;
}
ul {
  background-color: #00305d;
  box-sizing: border-box;
  width:100%;
  margin:0px;
  /*border-top: 1px solid #0070D9;*/
}
 li {
  background-color: #00305d;
  transition: 0.3s;
  padding: 20px;

  text-align: center;
  box-sizing: border-box;
  border-right: 1px solid #0070D9;
  display: inline-block;
}
.first {
  border-left: 1px solid #0070D9;
  border-right: 1px solid #0070D9;
}
li:hover {
  background: #001236;
  color: #FFF;
}
li:active {
  transition: none;
  background: #0044cc;
}
a{
  color: white;
  text-decoration:none;
}
